<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            
            <div class="col-md-3">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h7 class="card-title">Quantidade de Produtos</h7>
                        <p class="card-text text-white font-weigth-bold display-7">{{product_metrics.total_quantity}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h7 class="card-title">Custo de Estoque</h7>
                        <p class="card-text text-white font-weigth-bold display-7">R$ {{product_metrics.total_cost_price}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-success">
                    <div class="card-body">
                        <h7 class="card-title">Valor de Estoque</h7>
                        <p class="card-text text-white font-weigth-bold display-7">R$ {{product_metrics.total_selling_price}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-warning">
                    <div class="card-body">
                        <h7 class="card-title text-black">Lucro de Estoque</h7>
                        <p class="card-text text-black font-weigth-bold display-7">R$ {{product_metrics.total_profit}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>