{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card">
        <div class="card-body">                
            <div class="row">
                <!-- Coluna para a imagem -->
                <div class="col-md-1">
                    <img src="{% static 'images/brasao.png' %}" alt="Logo da Empresa" class="img-fluid">
                </div>
                <!-- Coluna para o nome da empresa -->
                <div class="col-md-11 text-center">
                    <h4>BOLETIM DE INTERVENÇAO</h4>
                    <h4>GUARDA MUNICIPAL - CONSELHEIRO LAFAIETE</h4>
                </div>
            </div>
            <div class="fundoazul mb-1 mt-3">
                1 - DO FATO
            </div>               
            <div class="row">                                     
                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.created_at.id_for_label }}" class="form-label mb-0"><small>Data do Registro:</small></label>
                    <input readonly name="{{ bulletin.created_at.name }}" value="{{ bulletin.created_at|date:'d/m/Y'}}" class="form-control form-control-sm">
                </div>
                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.created_at.id_for_label }}" class="form-label mb-0"><small>Número BI:</small></label>
                    <input readonly name="{{ bulletin.numero_bi.name }}" value="{{ bulletin.numero_bi|default_if_none:'' }}"  class="form-control form-control-sm ">
                </div>
                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.created_at.id_for_label }}" class="form-label mb-0"><small>Número BO:</small></label>
                    <input readonly name="{{ bulletin.numero_bo.name }}" value="{{ bulletin.numero_bo|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>
                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.created_at.id_for_label }}" class="form-label mb-0"><small>Classificação:</small></label>
                    <input readonly name="{{ bulletin.classificacao.name }}" value="{{ bulletin.classificacao|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>
            </div>  
            <div class="row">
                <div class="col-12 col-md-5 col-lg-5 ">
                    <label for="{{ bulletin.endereco_dofato.id_for_label }}" class="form-label mb-0"><small>Endereço:</small></label>
                    <input readonly name="{{ bulletin.endereco_dofato.name }}" value="{{ bulletin.endereco_dofato|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>

                <div class="col-12 col-md-2 col-lg-2 ">
                    <label for="{{ bulletin.numero_dofato.id_for_label }}" class="form-label mb-0"><small>Número:</small></label>
                    <input readonly name="{{ bulletin.numero_dofato.name }}" value="{{ bulletin.numero_dofato|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>

                <div class="col-12 col-md-5 col-lg-5 ">
                    <label for="{{ bulletin.bairro_dofato.id_for_label }}" class="form-label mb-0"><small>Bairro:</small></label>
                    <input readonly name="{{ bulletin.bairro_dofato.name }}" value="{{ bulletin.bairro_dofato|default_if_none:'' }}" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.orgao.id_for_label }}" class="form-label mb-0"><small>Órgão:</small></label>
                    <input readonly name="{{ bulletin.orgao.name }}" value="{{ bulletin.orgao|default_if_none:'' }}" class="form-control form-control-sm">
                </div>

                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.secao.id_for_label }}" class="form-label mb-0"><small>Seção:</small></label>
                    <input readonly name="{{ bulletin.secao.name }}" value="{{ bulletin.secao|default_if_none:'' }}" class="form-control form-control-sm">
                </div>

                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.data_hora_inicio.id_for_label }}" class="form-label mb-0"><small>Data/Hora Início:</small></label>
                    <input readonly name="{{ bulletin.data_hora_inicio.name }}" value="{{ bulletin.data_hora_inicio|default_if_none:''|date:'d/m/Y H:i:s' }}" class="form-control form-control-sm">
                </div>

                <div class="col-12 col-md-4 col-lg-3 ">
                    <label for="{{ bulletin.data_hora_termino.id_for_label }}" class="form-label mb-0"><small>Data/Hora Término:</small></label>
                    <input readonly name="{{ bulletin.data_hora_termino.name }}" value="{{ bulletin.data_hora_termino|default_if_none:''|date:'d/m/Y H:i:s' }}" class="form-control form-control-sm">
                </div>
            </div>
            <div class="fundoazul mb-0 mt-3">
                2 - ENVOLVIDOS
            </div>                 
            {{ envolvimentos.management_form }}
            {% for envolvimento in envolvimentos %}
                <div class="fundoazul mb-0 mt-1">
                    <small>Envolvido {{ forloop.counter }}</small>
                </div> 
                <div class="row">                                 
                    <div class="col-12 col-md-5 col-lg-5 ">
                        <label for="{{ envolvimento.envolvido.nome.id_for_label }}" class="form-label mb-0"><small>Nome:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.nome.name }}" value="{{ envolvimento.envolvido.nome|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                                                                                                    
                    <div class="col-12 col-md-4 col-lg-4 ">
                        <label for="{{ envolvimento.envolvido.naturalidade.id_for_label }}" class="form-label mb-0"><small>Naturalidade:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.naturalidade.name }}" value="{{ envolvimento.envolvido.naturalidade|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div> 

                    <div class="col-12 col-md-3 col-lg-3">
                        <label for="{{envolvimento.envolvido.datanascimento.id_for_label }}" class="form-label mb-0"><small>Data de Nascimento:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.datanascimento.name }}" value="{{ envolvimento.envolvido.datanascimento|default_if_none:''|date:'d/m/Y' }}"  class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-5 ">
                        <label for="{{ envolvimento.envolvido.endereco.id_for_label }}" class="form-label mb-0"><small>Endereço:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.endereco.name }}" value="{{ envolvimento.envolvido.endereco|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>

                    <div class="col-12 col-md-2 col-lg-2 ">
                        <label for="{{ envolvimento.envolvido.numero.id_for_label }}" class="form-label mb-0"><small>Número:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.numero.name }}" value="{{ envolvimento.envolvido.numero|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>

                    <div class="col-12 col-md-5 col-lg-5 ">
                        <label for="{{ envolvimento.envolvido.bairro.id_for_label }}" class="form-label mb-0"><small>Bairro:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.bairro.name }}" value="{{ envolvimento.envolvido.bairro|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <label for="{{ envolvimento.envolvido.cidade.id_for_label }}" class="form-label mb-0"><small>Cidade:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.cidade.name }}" value="{{ envolvimento.envolvido.cidade|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-2 col-lg-2">
                        <label for="{{ envolvimento.envolvido.uf.id_for_label }}" class="form-label mb-0"><small>UF:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.uf.name }}" value="{{ envolvimento.envolvido.uf|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <label for="{{ bulletin.envolvido_cep.id_for_label }}" class="form-label mb-0"><small>Cep:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.cep.name }}" value="{{ envolvimento.envolvido.cep|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <label for="{{ envolvimento.envolvido.telefone.id_for_label }}" class="form-label mb-0"><small>Telefone:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.telefone.name }}" value="{{ envolvimento.envolvido.telefone|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <label for="{{ envolvimento.envolvido.estadocivil.id_for_label }}" class="form-label mb-0"><small>Estado Civil:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.estadocivil.name }}" value="{{ envolvimento.envolvido.estadocivil|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-2 col-lg-2">
                        <label for="{{ envolvimento.envolvido.cpf.id_for_label }}" class="form-label mb-0"><small>CPF:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.cpf.name }}" value="{{ envolvimento.envolvido.cpf|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <label for="{{ envolvimento.envolvido.identidade.id_for_label }}" class="form-label mb-0"><small>Identidade:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.identidade.name }}" value="{{ envolvimento.envolvido.identidade|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <label for="{{ envolvimento.envolvido.profissao.id_for_label }}" class="form-label mb-0"><small>Profissão:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.profissao.name }}" value="{{ envolvimento.envolvido.profissao|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-5 col-lg-5">
                        <label for="{{ envolvimento.envolvido.email.id_for_label }}" class="form-label mb-0"><small>Email:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.email.name }}" value="{{ envolvimento.envolvido.email|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <label for="{{ envolvimento.tipo_envolvimento.id_for_label }}" class="form-label mb-0"><small>Tipo de envolvimento:</small></label>
                        <input readonly name="{{ envolvimento.tipo_envolvimento.name }}" value="{{ envolvimento.tipo_envolvimento |default_if_none:''}}"  class="form-control form-control-sm">
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <label for="{{ envolvimento.envolvido.escolaridade.id_for_label }}" class="form-label mb-0"><small>Escolaridade:</small></label>
                        <input readonly name="{{ envolvimento.envolvido.escolaridade.name }}" value="{{ envolvimento.envolvido.escolaridade|default_if_none:'' }}"  class="form-control form-control-sm">
                    </div>                                                
                </div>  
            {% endfor %}
            <div class="fundoazul mb-1 mt-3">
                3 - HISTÓRICO
            </div>
            <div class="row ">
                <div class="col-12">
                    <label for="{{ bulletin.historico.id_for_label }}" class="form-label mb-0"><small>Histórico:</small></label>
                    <textarea readonly class="form-control" id="bulletin.historico.id_for_label" name="{{ bulletin.historico.html_name }}" rows="10">{{ bulletin.historico }}</textarea>
                </div>                    
            </div>
            
            <div class="fundoazul mb-1 mt-3">
                4 - RELATOR
            </div>
                <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <label for="{{ bulletin.relatornome.id_for_label }}" class="form-label mb-0"><small>Nome:</small></label>
                        <input readonly name="{{ bulletin.relatornome.name }}" value="{{ bulletin.relatornome|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <label for="{{ bulletin.relatordocumento.id_for_label }}" class="form-label mb-0"><small>Documento:</small></label>
                        <input readonly name="{{ bulletin.relatordocumento.name }}" value="{{ bulletin.relatordocumento|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>                                 
            </div>

            <div class="fundoazul mb-1 mt-3">
                5 - RECIBO DA AUTORIDADE A QUE SE DESTINA / RESPONSÁVEL REPRESENTANTE
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="{{ bulletin.destinatario.id_for_label }}" class="form-label mb-0"><small>Destinatário:</small></label>
                    <input readonly name="{{ bulletin.destinatario.name }}" value="{{ bulletin.autoridadenome|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <label for="{{ bulletin.autoridadenome.id_for_label }}" class="form-label mb-0"><small>Nome:</small></label>
                    <input readonly name="{{ bulletin.autoridadenome.name }}" value="{{ bulletin.autoridadenome|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <label for="{{ bulletin.autoridadedocumento.id_for_label }}" class="form-label mb-0"><small>Documento:</small></label>
                    <input readonly name="{{ bulletin.autoridadedocumento.name }}" value="{{ bulletin.autoridadedocumento|default_if_none:'' }}"  class="form-control form-control-sm">
                </div>                                 
            </div>
        </div>
    </div> 
    <a href="{% url 'bulletin_pdf' bulletin.pk %}" target="_blank" class="btn btn-info mt-3">Gerar/Imprimir PDF</a>

    <a href="{% url 'bulletin_list' %}" class="btn btn-secondary mt-3">Voltar para lista de Boletins</a>
{% endblock %}